<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Notify Patients</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Medium Style Editor -->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <link  href="{{ url_for('static', filename='stylesheet/style.css') }}" rel="stylesheet" type="text/css" />
   <!-- Compiled and minified JavaScript -->
</head>

<body>

    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">
        <div class="nav-wrapper container">
          <a class="navbar-brand" href="#" class="img-responsive"><img alt="Brand" src="static/images/space.jpg"></a>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav navbar-right" href="https://www.figma.com/file/YE1fNixUViyA9sIeLQovuk/Zer0T?node-id=0%3A68" target="_blank"><button>Mobile Demo</button></a></li>
            <li><a class="nav navbar-right" href="{{ url_for('pollution') }}"><button>Disease Prediction</button></a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container">
      <div class="row">
        <h1 class="text-center" >Patiets Notification Management</h1>
        <h3 class="text-center" >Notifications to be sent to the patients based on the category of disease they belong to.</h3>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="btn-group">
          <label class="btn btn-primary">
            <input type="checkbox"> Lung Cancer
          </label> <br><br>
          <label class="btn btn-primary">
            <input type="checkbox"> Respiratory Infection
          </label><br><br>
          <label class="btn btn-primary">
            <input type="checkbox"> Heart Disease
          </label><br><br>
          <label class="btn btn-primary">
            <input type="checkbox"> Pulmonary Disease
          </label><br><br>
        </div>
      </div>
    </div>

        </div>
        <br>
        <div class="text-center">
            <button  class="btn btn-default" type="submit">Send Notification</button>
        </div>
  </div>

  <!--  Scripts-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  </body>
</html>
