<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Disease Predictability</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Medium Style Editor -->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <link href="{{ url_for('static', filename='stylesheet/style.css') }}" rel="stylesheet" type="text/css" />
   <!-- Compiled and minified JavaScript -->

   <!--  Scripts-->
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">
        <div class="nav-wrapper container">
          <a class="navbar-brand" href="#" id="profile-image"><img alt="Brand" src="static/images/space.jpg"></a>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav navbar-right" href="{{ url_for('notifyPatients') }}"><button class="btn btn-default">Notify Patients</button></a></li>
            <li><a class="nav navbar-right" href="{{ url_for('vegetation') }}"><button class="btn btn-default">Vegetation Solution</button></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h1 class="text-center" >Health Diseases Prediction</h1>
        <h3 class="text-center" >Predict the probability presence of pollutant gases in the air which can affect the health of people with medical record of Lung Cancer, Heart Disease, Pulmonary Disease and Respiratory Infection. </h3>
        <br>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <form action='/predictPollution' method="post">
        <div class="row">

          <div class="col-sm-3">
            <div class="thumbnail">
              <label for="particulate_matter"><b>PM</b></label>
              <br>
            <input placeholder="PM value in µg/m3" name="Temperature" id="pm" type="text" class="validate">
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
            <label for="nitrogen_dioxide"><b>Nitrogen Dioxide (NO2)</b></label>
              <br>
            <input id="nitrogen_dioxide" name="nitrogen_dioxide" placeholder="NO2 value in µg/m3"  type="text" class="validate">
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <label for="ozone"><b>Ozone (O3)</b></label>
              <br>
            <input id="ozone" name="ozone" placeholder="O3 value in µg/m3" type="text" class="validate">
            </div>
          </div>

          <div class="col-md-3">
            <div class="thumbnail">
              <label for="sulphur_dioxide"><b>Sulphur Dioxide (SO2)</b></label>
              <br>
            <input id="sulphur_dioxide" name="sulphur_dioxide" placeholder="SO2 value in µg/m3" type="text" class="validate">
            </div>
          </div>

        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Predict Disease Probability</button>
        </div>
      </form>
        </div>
        <div class="text-center">
        <br>
          {{predDisease}}
        <br>
        </div>

  </div>

    </body>
</html>
